/* Esercizio 1 */
.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition: background-color 2s;
}

.ex-1-square:hover {
    background-color: red;
}

/* Esercizio 2 */

.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 2s;
}

.ex-2-square:active {
    width: 100%;
}

/* Esercizio 3 */

.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: border-radius 0.5s ease 0.4s;
}

.ex-3-square:hover {
    border-radius: 50%;
    transition: border-radius 0.5s ease;
}

/* Esercizio 4 */

.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: opacity 0.5s;
}

.ex-4-square:hover {
    opacity: 0;
    transition: opacity 1s;
}

/* Esercizio 5 */

.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
    transition: scale 1s;
}

.ex-5-square:hover {
    scale: 2;
}

.ex-5-square:active {
    scale: 0.5;
}




.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}


/* Esercizio 6 */

.ex-6-img:hover {
    filter: grayscale();
}

/* Esercizio 7 */

.ex-7-img {
    transition: filter 2s;
}

.ex-7-img:hover {
    filter: sepia(0.6);
}

/* Esercizio 8 */

.ex-8-img {
    transition: all 2s;
}

.ex-8-img:hover {
    filter: saturate(0.4) sepia(0.4);
    border-radius: 20px;
}


/* Esercizio 9 */

.ex-9-img {
    margin: 50px 100px;
    width: 400px;
}

.ex-9-img {
    transition: all 2s;
}

.ex-9-img:hover {
    filter: saturate(0.5) sepia(0.4);
    border-radius: 20px;
    scale: 1.5;
}


/* Esercizio 10 */

.ex-10-icon {
    font-size: 60px;
    animation: rotation 1s linear;
    animation-iteration-count: infinite;
}

@keyframes rotation {

    0% {
        transform: rotate(0);
    }
    
    100% {
        transform: rotate(-360deg);
    }
}


/* Esercizio 11 */

.ex-11-icon {
    font-size: 60px;
}

.ex-11-icon:hover {
    animation: rotation-2 2s linear;
}

@keyframes rotation-2 {

    0% {
        transform: rotate(0);
    }
    
    95% {
        transform: rotate(300deg)
    }

    100% {
        transform: rotate(0deg);
    }
}



/* Esercizio 12 e Esercizio 13 */

.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}


.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}



/* Esercizio 12 */
.ex-12-button:hover .ex-12-top-white{
    animation: dance-right 1s linear;
    animation-direction: alternate;
    animation-iteration-count: 2; 
}

.ex-12-button:hover .ex-12-bottom-white{
    animation: dance-left 1s linear;
    animation-direction: alternate;
    animation-iteration-count: 2; 
}

@keyframes dance-right {
    0% {

    }
    
    100% {
    left: 69%;
    transition: left 1s;
    }
}

@keyframes dance-left {
    0% {

    }
    
    100% {
        right: 69%;
        transition: left 1s;
    }
}


/* Esercizio 13 */

/* ROTAZIONE OBJ TOP */
.ex-13-button:hover .ex-13-top-white{
    animation: btn-top-rot 2s linear;
}

@keyframes btn-top-rot {
    0% {
        top: -10px;
        left: 10%;
    }

    25% {
        top: -10px;
        left: calc(100% - 56px);
    }

    50% {
        left: calc(100% - 56px);
        top: 50px;
    }

    75% {
        top: 50px;
        left: -20px;
    }

    90% {
        top: -10px;
        left: -20px;
    }

    100% {
        top: -10px;
        left: 10%;
    }
}


/* ROTAZIONE OBJ BOTTOM */
.ex-13-button:hover .ex-13-bottom-white{
    animation: btn-bottom-rot 2s linear;
}

@keyframes btn-bottom-rot {
    0% {
        bottom: -10px;
        right: 20%;
    }
    
    25% {
        bottom: -10px;
        right: calc(100% - 30px);
    }

    50% {
        bottom: 60px;
        right: calc(100% - 30px);
    }

    75% {
        bottom: 60px;
        right: -20%;
    }

    90% {
        bottom: -10px;
        right: -20%;
    }

    100% {
        bottom: -10px;
        right: 20%;
    }
    
}